.DS_Store
target/
.env

contracts/cache
dockerfiles

# Docker build ignored, to allow overriding the dockerized service with the deterministic build.
!target/riscv-guest/riscv32im-risc0-zkvm-elf/docker/light_client_guest/light-client-guest